Before Uploading!!

For Seelie NO FOLLOW;
-- Any Version of Poiyomi Toon / Pro

For Seelie FOLLOWER
-- Any Version of Poiyomi Toon / Pro
-- Dynamic Bones (1.2.2 or Up-To-Date)

For Dynamic Bone addons, be sure to check VRCHAT SDK Control Panel for any Errors that need an "Auto Fix"

_____________________________

If having issues w/ Seelie following in Unity OR VRChat, make sure the following constraint settings are checked "Is Active"
- Place Obj under me! - IS ACTIVE
- Target - IS ACTIVE
- DelayBasePoint - IS ACTIVE
- DelayPoint - IS ACTIVE
- Target - IS ACTIVE
- LookAtPoint - IS ACTIVE